.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.subtitle {
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px 30px;
  background: rgb(204 218 243 / 59%);
  backdrop-filter: saturate(180%) blur(10px);
  /* backdrop-filter: blur(5px); */
}

.quizInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 10px;
}
