.profile-content {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 30px;
}

.profile {
    background: rgb(204 218 243 / 59%);
    backdrop-filter: saturate(180%) blur(10px);
    padding: 20px;
    display: flex;
    flex-basis:50%;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    border-radius: 20px;
}

.main {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main p {
    font-size: 18px;
}

@media (max-width: 600px) {
  .profile {
    flex-basis:70%; 
  }

  .profile-content {
    padding: 0rem;
  }
}