.content {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 30px;
}

.settings {
  /* background-color: white; */
  background: rgb(204 218 243 / 59%);
  backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: blur(5px);
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border-radius: 20px;
}

.banner {
  width: 55%;
  align-self: center;
  padding: 8px;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner {
    width: 85%;
    padding: 0;
    padding-top: 20px;
  }
  .settings {
    width: 100%;
  }
}

.settings__select {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex: 0.8;
  justify-content: space-evenly;
}
