header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 2rem;
}

header .logo {
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  color: white;
  text-decoration: none;
}

header .logo:hover {
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  color: white;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3rem;
}

nav ul li {
  padding: 0px 10px;
}

ul li a {
  padding: 0px 10px;
  color: white;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header nav ul {
    flex-wrap: nowrap;
  }

  header .logo {
    margin-bottom: 1.3rem;
  }
}
