.footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: baseline;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer a {
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  color: white;
}
