* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bgImage {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  background-image: url("https://wallpapercave.com/wp/wp5581104.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}

.App {
  min-height: 100vh;
  color: white;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
}

.container {
  padding: 0 10rem;
}

/* Hide Scrollbar */

.html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
