.background {
  min-height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp5581104.jpg");
  /* background-image: url("https://img.freepik.com/free-vector/comic-style-background_23-2148836600.jpg?w=2000"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}